body, html {
  margin-top: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

body {
  background: url(./images/bg02.jpg) no-repeat center center fixed;
  background-size: cover;
}

#vanta {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
}

main.animated {
  opacity: 0;
  filter: blur(10px);
  transition: opacity 2s ease-in-out, filter 2s ease-in-out;
}

header {
  margin-top: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: 1px solid #fff;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

header > h1 {

  font-family: 'Yellowtail', cursive;
  font-size: 5em;
  font-weight: bold;
  border-radius: 1em;
  color: #FF83A8;
  background-color: transparent;
  margin: 0;
  border: none;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}
header > h2 {
  display: inline-block;
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  font-weight: bold;
  border-radius: 1em;
  padding-left: 0.5em;
  color: #FF83A8;
  background-color: transparent;
  padding: 0.2em 0.3em;
  border: none;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 0.5em;
  max-width: 480px;
}

ul > li {
  background-color: #FF83A8;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  border-radius: 10em;
  margin: 1.4em 0;
  box-shadow: rgb(28 32 93 / 24%) 0px 2px 8px 0px;
}

ul > li:hover{
  background-color: #fadae7;
  transition: 0.5s;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}



a {
  color: black;
  text-decoration: none;
}


footer{
  bottom: 0;
  margin-top: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer > h3 {
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  font-size: 1em;
  justify-content: center;
  font-weight: bold;
  border-radius: 1em;
  color: #19afdc;
  background-color: 19afdc;
  padding: 0.2em 0.3em;
  border: none;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}